#imageDisp {
    
    border-radius: 50%;
    border: 5px solid #d97808;
    display: inline-block;
    margin: 15px 15px 15px;
    width: 10%;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
  }

  #imageDisp:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

  label{
    /* border-radius: 50%; */
    /* border: 5px solid #4b0680; */
    display: inline-block;
    margin: 45px 50px 25px;
    width: 6%;
  }