<div class="mx-5 my-3" style="width: 400px;">
    <a class="btn btn-success" routerLink="/userdemo">Go back to List</a>
</div>

<table class="table table-striped">
    <thead style="background-color: bisque;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Catch Phrase</th>
            <th scope="col">Business</th>
            <th scope="col">Company Zipcode</th>
         </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{particularUser.id}}</td>
            <td>{{particularUser.company.name}}</td>
            <td>{{particularUser.company.catchPhrase}}</td>
            <td>{{particularUser.company.bs}}</td>
            <td>{{particularUser.address.zipcode}}</td>
        </tr>
    </tbody>
  </table>