<div class="container">
<p>Password Generator</p>

<form>
    <table>
        <tbody>
            <tr>
                <td>Enter Length</td>
                <td>
                    <input id="number" type="number" (input)="onChangeLength($event.target.value)">
                </td>
            </tr>
            <tr>
                <td>
                    <input (change)="onChangeUseLetters()" type="checkbox" class="form-check-input" id="exampleCheck1"> Use letters
                </td>

            </tr>
            <tr>
                <td>
                    <input (change)="onChangeUseNumbers()" type="checkbox" class="form-check-input" id="exampleCheck1"> Use numbers
                </td>
            </tr>
            <tr>
                <td>
                    <input (change)="onChangeUseSymbols()" type="checkbox" class="form-check-input" id="exampleCheck1"> Use symbols
                </td>
            </tr>
            <tr>
                <td>Your password</td>
                <td>
                    <input  id="text" type="text" [value]="password">  
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br>
<a href="#" (click)="enterPassword()" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Generate</a>
</div>


       
    






       

  


