#number, #text {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #0aed8a;
    outline: none;
    font-size: 22px;
    }
   
   input::placeholder{
     font-size: 23px;
    } 