<!-- <p>http-client works!</p>
<ng-container >
    
    Name : <strong class="text-success"> {{ user.name}}</strong>
    Id : <strong class="text-success">{{user.id}}</strong> 
    
</ng-container> -->
<br>
<div class="container">
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="namesearch"/>
    <!-- <button type="button" class="btn btn-outline-primary" >search</button> -->
  </div>
</div>
<br>

<table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
    </thead>
    <tr *ngFor="let user of users | search:namesearch" >
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}, {{user.address.zipcode}}, {{user.address.geo.lat}}, {{user.address.geo.lng}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
        <td>{{user.company.name}}</td>
    </tr>
    </table>


{{namesearch}}